:root {
    --bg-dark: #0B0E14;
    --bg-card: #151A23;
    --primary: #0d6efd;
    --secondary: #7000FF;
    --accent: #FF0055;
    --text-main: #FFFFFF;
    --text-muted: #CBD5E1;
    --glass: rgba(21, 26, 35, 0.7);
    --gradient-main: linear-gradient(135deg, var(--secondary) 0%, var(--primary) 100%);
    --glow-color: rgba(112, 0, 255, 0.15);
}